body{
    color: #EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding:0px;
    margin: 0px;
    background-color: #3F7D58;
}

#root{
    background-color: #EFEFEF;
    height:60vh;
    width:50vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
    padding:10px;
    border-radius: 10px;
}