.header{
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
    border-radius: 5px;
    background-color: #EC5228;
}

.toggle{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    gap:10px;
    flex-grow:1;
}

button{
  background-color: #EF9651;
  border-radius: 6px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

