.Toastify__toast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: fit-content;
    position: relative;
    border-radius: 8px;
    font-size: 16px;
    padding: 16px;
    box-sizing: border-box;
  }
  
  .Toastify__toast--success {
    background-color: #28a745;
    color: #fff;
  }
  
  .Toastify__toast--error {
    background-color: #EF9651;
    color: #fff;
  }
  
  .Toastify__toast--info {
    background-color: #17a2b8;
    color: #fff;
  }
  
  .Toastify__toast--warning {
    background-color: #ffc107;
    color: #212529;
  }
  
  .Toastify__close-button {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 24px;
    height: 24px;
    color: #fff;
    border-radius: 50%;
    background-color: #EF9651;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .Toastify__close-button:hover,
  .Toastify__close-button:focus {
    opacity: 0.5;
  }
  
  .Toastify__toast-body {
    flex: 1;
    padding-left: 40px;
  }

  @media screen  and (max-width: 480px) {
    .Toastify__toast {
      position: fixed;
      top:10px;
      right: 10px;
    }
  }